.dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.customDropdownToggle {
  display: flex;
  width: 100%;
  background-color: #f6faff !important;
  border: 1px solid #d1d1d1 !important;
  padding: 0.5rem !important;
  border-radius: 0.5rem !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  color: #000000;
  width: 100%;
  min-width: 200px;
  max-width: 360px;
  overflow: hidden;
}

.customDropdownToggle::after {
  display: none !important;
}

.customMenuDropdown {
  width: 100%;
  padding: 0.5rem;
  max-height: 300px;
  overflow-y: auto;
}

