.revisionTabsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.revisionTabsHeader {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: auto;
}

.revisionTabButton {
  display: flex;
  width: 83px;
  height: 24px;
  padding-bottom: 1px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}

.revisionTabButton.active {
  color: var(--color-secundario);
  border-bottom: 2px solid var(--color-secundario);
}

.titleBlue {
  color: #24588b;
  font-size: 14px;
  font-weight: 700;
  padding-top: 0.5rem;
}
