.checkbox-container {
    width: 52px;
    height: 48px;
    padding: 4px 16px;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;  
}

.checkbox-container-header{
    display: inline-flex;
    height: 32px;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
}