.tableContainer {
  width: 100%;
  overflow-x: auto;
  box-shadow: 0 2px 8px var(--color-sombra);
  border-radius: 16px;
  overflow: auto;
  max-height: 80dvh;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: var(--color-primario);
  color: var(--color-fondo);
  position: sticky;
  top: 0;
}

th {
  padding: 1rem 1.2rem;
  text-align: left;
  font-weight: 600;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  border-bottom: 2px solid var(--color-secundario);
  border-right: 1px solid var(--color-fondo-suave);

  background-color: var(--color-primario);
  position: sticky;
  top: 0;
  z-index: 2;
}
th:last-child {
  border-right: none;
}

tbody tr {
  transition: all 0.2s ease;
}

tbody tr:nth-child(even) {
  background-color: var(--color-fondo-suave);
}

tbody tr:nth-child(odd) {
  background-color: var(--color-fondo);
}

tbody tr:hover {
  background-color: var(--color-secundario);
}

td {
  padding: 0.8rem 1.2rem;
  color: var(--color-gris-oscuro);
  border-bottom: 1px solid var(--color-detalle-claro);
}

.iconTd {
  margin-top: 2rem;
  position: fixed;
  left: 50%;
}

td:not(:last-child) {
  border-right: 1px solid var(--color-detalle-claro);
}

button {
  background-color: var(--color-secundario);
  color: var(--color-fondo);
  border: none;
  padding: 0.5rem 0.8rem;
  margin-right: 0.5rem;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
}

tbody tr:hover button {
  background-color: var(--color-primario);
  color: var(--color-fondo);
}

.noData {
  padding: 1rem;
  text-align: start;
  color: var(--color-fondo);
  margin: 0;
  background-color: var(--color-primario);
}
