.topBarContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primario);
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.headerModuleContainer {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: capitalize;
}

@media screen and (max-width: 720px) {
  .topBarContainer {
    padding: 0.5rem 0.5rem;
  }
  .iconHeader {
    width: 3rem;
    height: 3rem;
  }

  .headerModuleContainer {
    font-size: 1rem;
    gap: 0.5rem;
  }
}
