.dropmenuContainer {
  display: flex;
  cursor: pointer;
  position: relative;
}
.dropmenuOptionsContainer {
  position: absolute;
  top: 100%;
  right: 0rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.6);
  background-color: var(--color-sombra);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: start;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.dropmenuLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.optionLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  width: 100%;
  transition: background-color 0.2s ease-in-out;
}

.optionLabel:hover {
  background-color: var(--color-primario);
  width: 100%;
}

.optionLabel:hover:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.optionLabel:hover:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.primary {
  background-color: red;
}

.secondary {
  background-color: var(--color-gris-medio);
  color: white;
  min-width: 165px;
  margin-right: 1rem;
}
