.bodyHomeContainer {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  gap: 1rem;
}
.chartsHomeContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.titleChart {
  font-weight: 700;
  font-size: 24px;
}

.chartsContainer,
.resumeMaintenance {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 0.5rem;
  background-color: var(--color-gris-oscuro);
  border-radius: 16px;
}

.resumeMaintenance {
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1580px) {
  .bodyHomeContainer {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1020px) {
  .resumeMaintenance {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 720px) {
  .bodyHomeContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
  }

  .chartsContainer {
    gap: 2rem;
  }

  .resumeMaintenance {
    gap: 3rem;
  }
}
