.comprobantesContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  gap: 1rem;
  align-items: center;
  border-top: 2px solid var(--color-secundario);
}