.filtersContainer {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1rem;
  background-color: var(--color-fondo-suave);
  border-radius: 16px;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.filtersContainer .filters {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filtersContainer p {
  margin: 0;
  font-size: 0.9rem;
  color: var(--color-gris-oscuro);
  font-weight: 500;
}

.filtersContainer input,
.filtersContainer select {
  min-width: 150px;
}

.filtersContainer input:focus,
.filtersContainer select:focus {
  outline: none;
}

.actionsFilters {
  display: flex;
  flex-direction: row;
  margin-left: 0.5rem;
}

.tableContainer {
  margin-top: 1.5rem;
  color: var(--color-fondo);
}

@media screen and (max-width: 1280px) {
  .filtersContainer {
    gap: 0.5rem;
    padding: 0.5rem;
    justify-content: center;
    /* background-color: var(--color-fondo); */
    border-radius: 16px;
    margin-bottom: 0.5rem;
    align-items: center;
    width: 100%;
  }

  .filtersContainer .filters {
    display: flex;
    flex-direction: row;
    gap: 0rem;
  }
  .actionsFilters {
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .filtersContainer {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
