.filtersContainer {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1rem;
  background-color: var(--color-fondo);
  border-radius: 16px;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.filtersContainer .filters {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filtersContainer p {
  margin: 0;
  font-size: 0.9rem;
  color: var(--color-gris-oscuro);
  font-weight: 500;
}

.filtersContainer input,
.filtersContainer select {
  min-width: 150px;
}

.filtersContainer input:focus,
.filtersContainer select:focus {
  outline: none;
}

.actionsFilters {
  display: flex;
  flex-direction: row;
  padding-right: 2rem;
}

.tableContainer {
  margin-top: 1.5rem;
}
