.bodyLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bodyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--color-fondo);
  border-radius: 0 0 2rem 2rem;
  color: var(--color-primario);
  padding: 20px;
  width: 100%;
  z-index: 2;
}

.errorMessageContainer {
  background-color: var(--color-fondo);
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.errorMessage {
  color: red;
  margin-bottom: 10px;
}
