.headerLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 60%;
}

.headerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--color-fondo);
  border-radius: 2rem 2rem 0 0;
  color: var(--color-primario);
  padding: 20px;
}

.iconHeader {
  border-radius: 50%;
  padding: 10px;
}

.textHeader {
  width: 50%;
  text-align: center;
}

@media (max-width: 1000px) {
  .textHeader {
    width: 100%;
  }
  .headerLogin {
    max-width: 100%;
  }
}
