.diasChartContainer {
  display: flex;
  width: fit-content;
  border-radius: 16px;
  border: 2px solid var(--color-secundario);
  box-shadow: 0 2px 8px var(--color-sombra);
}

.chartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noMaintenancesToDo {
  text-align: center;
  max-width: 200px;
}

.actionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 10px;
}

.actionButton {
  background-color: white;
  color: black;
  font-weight: 700;
  padding: 10px;
  border-radius: 16px;
  border: 2px solid var(--color-secundario);
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.actionButton:hover {
  background-color: var(--color-secundario);
  border-bottom: 2px solid var(--color-secundario);
  color: var(--color-primario);
}

.actionButton:focus {
  outline: none;
}

@media screen and (max-width: 720px) {
  .diasChartContainer {
    flex-direction: column;
    align-items: center;
    height: fit-content;
    justify-content: center;
  }

  .actionsContainer {
    flex-direction: row;
    gap: 1rem;
  }
}
