@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  --background-color-primary: #242424;
  --color-primario: #1a1a1a; /* Negro profundo */
  --color-secundario: #0289c7; /* Celeste brillante */
  --color-fondo: #ffffff; /* Blanco */
  --color-sombra: #535353; /* Gris oscuro */
  --color-detalle-claro: #b7b7b7; /* Gris claro */
  --color-gris-medio: #707070; /* Gris medio */
  --color-gris-oscuro: #2b2b2b; /* Gris muy oscuro */
  --color-fondo-suave: #e9e9e9; /* Blanco grisáceo */
  --color-celeste-oscuro: #1e293b; /* Celeste oscuro */

  --blue-600: #73a9dc;
  --red-500: #df5475;
  --green-700: #54a036;
  --yellow-500: #ce9612;

  [data-theme="dark"] {
    --color-primario: #0289c7; /* Celeste brillante, se mantiene como acento */
    --color-secundario: #ffffff; /* Blanco para textos principales */
    --color-fondo: #1a1a1a; /* Negro profundo */
    --color-sombra: #000000; /* Sombra más fuerte */
    --color-detalle-claro: #707070; /* Gris medio para bordes y detalles */
    --color-gris-medio: #b7b7b7; /* Gris claro en modo oscuro */
    --color-gris-oscuro: #e9e9e9; /* Gris muy claro para contrastar */
    --color-fondo-suave: #2b2b2b; /* Gris oscuro, secciones secundarias */
    --color-celeste-oscuro: #1e293b; /* Celeste oscuro */
  }
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--background-color-primary) !important;
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

button.secondary {
  background-color: var(--color-fondo);
  color: var(--color-secundario);
  border: 2px solid var(--color-secundario);
  padding: 0.5rem 0.8rem;
  margin-right: 0.5rem;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
}

button.secondary:hover {
  background-color: var(--color-secundario);
  color: var(--color-fondo);
}

button.normal {
  background-color: transparent;
  color: var(--color-secundario);
  padding: 0;
}

button.normal:hover {
  background-color: var(--color-sombra);
}
