.loginView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.background-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

/* Capa base con la imagen de fondo */
.background-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, var(--black-50) 60%, transparent 60%),
    url("/src/assets/fondo_login.webp") 40% 100% no-repeat;
  background-size: cover;
}

/* Capa de overlay con el filtro azul */
.background-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 29, 57, 0.82) 50%,
    rgba(0, 179, 152, 0.82) 100%
  );
  mix-blend-mode: overlay;
}

.setEmailView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100vh;
}

@media (max-width: 1000px) {
  .background-container::before {
    background: linear-gradient(
        to right,
        var(--black-50) 100%,
        transparent 100%
      ),
      url("/src/assets/fondo_login.webp") center center no-repeat;
    background-size: cover;
  }

  .loginView {
    width: 100%;
    padding: 1rem;
  }

  /* Asegurar que el overlay azul se mantenga */
  .background-container::after {
    background: linear-gradient(
      180deg,
      rgba(0, 29, 57, 0.82) 50%,
      rgba(0, 179, 152, 0.82) 100%
    );
    mix-blend-mode: overlay;
  }
}
