.snackbar-container {
  position: fixed; /* mejor que absolute para estar fijo en viewport */
  bottom: 2rem;
  transform: translateX(-50%); /* ajusta al centro */
  padding: 1rem 1.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 500;
  width: fit-content;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
}

/* Animación de entrada */
.snackbar-container.show {
  animation: fadeInUp 0.3s ease forwards;
  pointer-events: all;
}

/* Animación de salida */
.snackbar-container.hide {
  animation: fadeOutDown 0.3s ease forwards;
  pointer-events: none;
}

/* Keyframes */
@keyframes fadeInUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.snackbar-container.info {
  opacity: 1;
  transform: translateY(0);
  background-color: var(--blue-600);
}
.snackbar-container.success {
  opacity: 1;
  transform: translateY(0);
  background-color: var(--green-700);
}
.snackbar-container.error {
  opacity: 1;
  transform: translateY(0);
  background-color: var(--red-500);
}
.snackbar-container.warning {
  opacity: 1;
  transform: translateY(0);
  background-color: var(--yellow-500);
}

.snackbar-content {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
}

.snackbar-icon {
  width: 20px;
  height: 20px;
}

.snackbar-close-button {
  margin-left: auto;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.snackbar-close-button:hover {
  margin-left: auto;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
