.buttonInfo {
  border: 2px solid var(--color-secundario);
  background-color: var(--color-secundario);
  justify-content: center;
  font-size: 14px;
}

.buttonInfo:hover {
  background-color: var(--color-fondo);
  border: 2px solid var(--color-secundario);
  color: var(--color-primario);
  transition: all 0.2s ease;
}

.maintenancesContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-top: 2px solid var(--color-secundario);
  padding-top: 1rem;
  justify-items: center;
}

.tableContainer {
  width: 100%;
}

@media (max-width: 720px) {
  .maintenancesContainer {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  .detailsInfoContainer {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .labelsContainer {
    display: flex;
    width: 100%;
    background-attachment: red !important;
    flex-direction: column;
    align-items: center;
  }
  .labelItemContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
